DATABASE_URL="postgresql://user:password@localhost:5432/vibecoding"
AUTH_SECRET="k/cKR90EzzOltdFFBh3mN2FgwoMUBWCWo3VEH+znJs8="
NEXTAUTH_URL="http://localhost:3000"
TENCENT_SECRET_ID=""
TENCENT_SECRET_KEY=""
TENCENT_IM_SDKAPPID=""
TENCENT_IM_SECRET=""
TENCENT_IM_ADMIN="admin"
NEXT_PUBLIC_TENCENT_IM_SDKAPPID=""
COS_BUCKET=""
COS_REGION="ap-guangzhou"
COS_DOMAIN=""
